@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Satoshi", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-slider > div {
  margin: 0 30px;
}

.slick-slider > div:nth-child(1) {
  margin-left: 0;
}
.slick-list {
  margin-right: -30px;
}
